<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPCRAFT</title>
    <link rel="icon" href="images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body class="bg-[#101010]">
    <!-- <div class="load absolute flex h-screen w-screen items-center justify-center bg-gray-400 bg-opacity-15">
        <h3 class="text-white opacity-100 bg-black p-5 rounded-xl">Generating content...</h3>
    </div> -->
    <nav class="w-full h-16 flex justify-end items-center  py-10 px-6">
        <div>
            <a href="https://www.github.com/rishavd3v" target="_blank">
                <button class="bg-accent text-white font-bold px-2 py-1.5 rounded-sm text-center shadow-black shadow-lg"><i class="bi bi-github px-1"></i>GitHub</button>
            </a>
        </div>
    </nav>

    <section class="hero flex flex-col items-center mt-14 home">
        <h1 class="title text-5xl text-white font-bold mb-5 tracking-wide">CAPCRAFT.AI</h1>
        <p class="text-xl text-white text-center">AI powered caption generator and SEO optimization tools</p>
        <p class="text-xl text-white text-center px-2.5">Write Magnetic <span class="text-secondary font-medium ">Social Captions & Dominate SEO</span></p>
    </section>

    <div class="image-drop flex flex-col items-center justify-center mt-20 home">
        <label for="input-file" id="drop-area" class="text-center h-56 w-96 rounded-3xl bg-white p-4">
            <input type="file" accept="image/*" id="input-file" hidden>
            <div id="img-view" class="flex flex-col items-center justify-center w-full h-full rounded-2xl border-2 border-dashed border-[#bbb5ff] bg-[#f7f8ff] bg-center bg-cover hover:cursor-pointer">
                <img src="/images/upload.png" alt="" class="h-24 w-24">
                <p class="p-0 text-sm block">Drag & Drop or click here <br> to upload image</p>
                <span class="text-xs mt-2 text-[#777]">Upload any image from desktop (.png & .jpeg)</span>
            </div>
        </label>
        <button id="submit" class="h-10 w-28 bg-secondary rounded-xl mt-5 text-white shadow-black shadow-lg">Generate</button>
        <div id="loading" class="p-3 bg-white rounded-xl mt-5 text-black shadow-black shadow-lg hidden">Generating Content...</div>
    </div>

    <div class=" h-full w-full flex justify-center items-center mt-28">
        <div id="output" class=" bg-white h-max w-6/12 min-w-72 rounded-xl p-5 mb-5 flex flex-col justify-center items-center gap-5 hidden">
            
            <h5 class="text-center mb-2 font-medium">Here are few captions generated for your image</h5>
            <div class="sub-output h-max w-full bg-gray-200 rounded-xl">
                <div class="h-max flex justify-end">
                    <p class="text-center caption mb-2 ml-2">Black and white, but full of Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, maiores!possibilities. 📸 #chessboard #gameon #focus #determination</p>
                    <i class="bi bi-copy text-black text-base cursor-pointer bg-gray-300 hover:bg-gray-400 px-1.5 ml-1 rounded-tr-md rounded-br-md flex items-center"></i>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/home.js"></script>


</body>
</html>