<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/root.css">
    <link rel="stylesheet" href="stylesheets/home.css">
    <link rel="stylesheet" href="stylesheets/output.css">
</head>
<body>
    <section class="hero flex flex-col items-center mt-28">
        <h1 class="title text-5xl text-accent font-bold mb-6 tracking-wide">CAPCRAFT.AI</h1>
        <p class="text-xl text-white text-center"><span>AI powered</span> caption generator and SEO optimization tools</p>
        <p class="text-xl text-white text-center">Write Magnetic <span class="text-purple-400 font-medium underline-offset-1">Social Captions & Dominate SEO</span></p>
    </section>

    <div class="image-drop flex flex-col items-center justify-center mt-28">
        <label for="input-file" id="drop-area" class="text-center h-56 w-96 rounded-2xl bg-white p-4">
            <input type="file" accept="image/*" id="input-file" hidden>
            <div id="img-view" class="flex flex-col items-center justify-center w-full h-full rounded-2xl border-2 border-dashed border-[#bbb5ff] bg-[#f7f8ff] bg-center bg-cover hover:cursor-pointer">
                <img src="/images/upload.png" alt="" class="h-24 w-24">
                <p class="p-0 text-sm block">Drag & Drop or click here <br> to upload image</p>
                <span class="text-xs mt-2 text-[#777]">Upload any image from desktop (.png & .jpeg)</span>
            </div>
        </label>
        <button id="submit" class="h-10 w-28 bg-accent rounded-xl mt-6 text-white">Submit</button>

    </div>

    <script src="javascripts/home.js"></script>


</body>
</html>